body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 200px 0px 0px 500px;
    background:wheat;
}
.xoa{
    clear: both;
}

#maytinh {
width: 260px;
padding: 0px 0px 10px 0px;
border: 2px solid black;
background-color: turquoise;

}
#kk{
   margin-top: 10px;
   margin-bottom: 20px;
   font-weight: bold;
   text-align: center;
}

#KQ{
    margin:0px  0px 15px 15px;
    padding: 5px;
    width: 211px ;
    text-align: right;
    outline-style: none;
    border: 1px solid black;
}
.button {
    margin: 0px 0px 5px 10px;
    padding: 10px;
    float: left;
    text-align: center;
    width: 30px;
    color: blue;
    background-color: cadetblue;
    border-radius: 50px;
    font-weight: bold;
}
.button F{
    margin-left: 0px;
}
.button:hover{
    background-color: chartreuse;
}
